html,body{
    background-color: dimgrey;
    height: 100%;
    margin: 0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
}
aside{
    display: flex;
   
  
}

main{
    margin-top: 50px;
    display: flex;
    align-items: baseline;
    flex: 1;
    background-color: white;
    border-radius: 12px;
    height: 400px;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    margin-left: auto;

}

footer{
    display: flex;
    justify-content: center;
   padding: 20px;
   margin-top: auto;
}

#botao{
    border-radius: 16px;
    display: flex;
    background-color: pink;

    
    
}
aside{
    margin-top: 20px;
    height: 250px;
    width: 500px;
    margin-left: 50px;
    background-color: white;
    border-radius: 12px;

}

#pai{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
}

section{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 30px;
}

figure,p{
    margin-top: 100px;
    bottom: 20px;
}
#botao2{
    width: 100px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}